.p-Home.Div36 {
border-radius: 2px;
border-width: 5px;
border-color: #0000ff;
border-style: solid;
margin-bottom: 100px;
}
.p-Home.Flex17 {
display: flex;
margin-bottom: 50px;
justify-content: space-between;
align-content: stretch;
column-gap: 10px;
align-items: center;
text-align: center;
margin-left: 10px;
margin-right: 10px;
}
.p-Home.Div28 {
text-align: center;
display: block;
width: ;
overflow: visible;
box-sizing: initial;
min-height: %;
align-self: flex-end;
border-radius: 15pxpx;
border-color: #cececeff;
border-width: 2px;
border-style: solid;
padding-top: 40px;
padding-bottom: 40px;
margin-right: 0px;
margin-left: ;
padding-right: 50px;
padding-left: 50px;
}
.p-Home.Div29 {
text-align: center;
display: block;
width: ;
overflow: visible;
box-sizing: initial;
min-height: %;
align-self: flex-end;
border-radius: 15px;
border-color: #cececeff;
border-width: 4px;
border-style: solid;
padding-top: 40px;
padding-bottom: 40px;
margin-right: 0px;
margin-left: ;
padding-right: 50px;
padding-left: 50px;
}
.p-Home.Div30 {
text-align: center;
display: block;
width: ;
overflow: visible;
box-sizing: initial;
min-height: %;
align-self: flex-end;
border-radius: 15px;
border-color: #cececeff;
border-width: 4px;
border-style: solid;
padding-top: 40px;
padding-bottom: 40px;
margin-right: 0px;
margin-left: ;
padding-right: 50px;
padding-left: 50px;
}
.p-Home.Div33 {
text-align: center;
display: block;
width: ;
overflow: visible;
box-sizing: initial;
min-height: %;
align-self: flex-end;
border-radius: 15px;
border-color: #cececeff;
border-width: 4px;
border-style: solid;
padding-top: 40px;
padding-bottom: 40px;
margin-right: 0px;
margin-left: ;
padding-right: 50px;
padding-left: 50px;
}
.p-Home.Flex20 {
display: flex;
align-items: center;
justify-content: center;
padding-top: 10px;
padding-bottom: 60px;
margin-top: 20px;
margin-bottom: 10px;
column-gap: 40px;
}
.p-Home.Div37 {
;
}
.p-Home.Flc_exc_cv_vc_ {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
align-self: center;
height: 80px;
margin-left: 50px;
margin-right: 50px;
}
.p-Home.Flex2 {
display: flex;
justify-content: flex-end;
}
.p-Home.Flex6 {
display: flex;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Div3 {
;
}
.p-Home.Div39 {
;
}
.p-Home.Flex11 {
display: flex;
justify-content: space-between;
align-items: center;
background-color: transparent;
flex-direction: row;
margin-right: 50px;
margin-left: 50px;
margin-top: 25px;
margin-bottom: 25px;
}
.p-Home.Div8 {
width: 50%;
}
.p-Home.Div10 {
;
}
.p-Home.Flex14 {
display: inline-flex;
justify-content: flex-start;
row-gap: ;
column-gap: 50px;
align-content: flex-end;
align-items: center;
margin-top: 40px;
margin-left: 40px;
}
.p-Home.Div9 {
position: relative;
align-self: flex-end;
display: inline;
padding-right: ;
padding-left: ;
margin-right: -50px;
margin-left: ;
}
.p-Home.Div41 {
;
}
.p-Home.Div42 {
;
}
.p-Home.Flex15 {
display: flex;
align-items: center;
column-gap: 60px;
justify-content: center;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Flex23 {
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 60px;
padding-top: 60px;
background-color: #FFF9F3ff;
}
.p-Home.Div45 {
position: relative;
width: ;
margin-right: ;
}
.p-Home.Div50 {
background-color: #ffffffff;
border-color: #af2bc0;
border-style: solid;
border-width: 2px;
position: absolute;
right: -150px;
bottom: -50px;
width: 400px;
border-radius: 40px;
padding-right: 0px;
padding-left: 40px;
padding-bottom: 20px;
padding-top: 30px;
margin-top: ;
}
.p-Home.Div51 {
;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
}
.p-Home.Div52 {
;
}
.p-Home.Flex25 {
display: flex;
column-gap: 30px;
align-items: center;
align-content: space-between;
justify-content: flex-start;
padding-left: ;
margin-left: ;
padding-top: 0px;
}
.p-Home.Div55 {
;
}
.p-Home.Flex29 {
display: flex;
column-gap: 30px;
align-items: center;
align-content: space-between;
justify-content: flex-start;
padding-left: ;
margin-left: ;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Div54 {
;
}
.p-Home.Flex28 {
display: flex;
column-gap: 30px;
align-items: center;
align-content: space-between;
justify-content: flex-start;
padding-left: ;
margin-left: ;
}
.p-Home.Div46 {
width: 50%;
}
.p-Home.Flex30 {
display: inline-flex;
justify-content: flex-start;
row-gap: ;
column-gap: 50px;
align-content: flex-end;
align-items: center;
margin-top: 40px;
margin-left: 40px;
}
.p-Home.Flex33 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Flex35 {
display: flex;
margin-left: 10px;
margin-right: 10px;
align-items: center;
justify-content: space-between;
word-wrap: normal;
}
.p-Home.Div60 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Div61 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Div62 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Div63 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Flex37 {
display: flex;
margin-left: 10px;
margin-right: 10px;
align-items: center;
justify-content: space-between;
word-wrap: normal;
padding-top: 40px;
}
.p-Home.Div65 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Div66 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Div67 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Div68 {
border-color: #ff0000;
border-style: ;
border-width: 6px;
position: relative;
width: 250px;
}
.p-Home.Flex38 {
display: flex;
align-items: center;
justify-content: center;
padding-top: 10px;
padding-bottom: 60px;
margin-top: 20px;
margin-bottom: 10px;
column-gap: 40px;
}
.p-Home.Flex39 {
display: flex;
justify-content: space-between;
align-items: center;
border-style: none;
border-width: 4px;
height: ;
width: 100vw;
}
.p-Home.Div70 {
width: 50%;
}
.p-Home.Div69 {
width: 50%;
border-style: solid;
border-color: transparent;
background-color: #ff7629ff;
color: #f609c7;
height: 650px;
border-width: 0px;
align-self: center;
text-align: left;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
}
.p-Home.Flex41 {
display: inline-flex;
justify-content: center;
row-gap: ;
column-gap: 50px;
align-content: flex-end;
align-items: center;
margin-top: 0px;
margin-left: -100px;
width: 100%;
padding-bottom: 15px;
margin-bottom: 15px;
}
.p-Home.Flex43 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Div83 {
;
}
.p-Home.Flex45 {
display: flex;
align-items: center;
justify-content: space-around;
}
.p-Home.Div84 {
;
}
.p-Home.Div85 {
border-width: 2px;
border-style: solid;
border-color: #595858ff;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
padding-left: 30px;
width: 60%;
border-radius: 25px;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 15px;
border-color: #d5d5d5ff;
}
.p-Home.Flex47 {
display: flex;
}
.p-Home.Flex48 {
display: flex;
align-items: center;
row-gap: 40px;
column-gap: 40px;
}
.p-Home.Div93 {
;
}
.p-Home.Div87 {
;
}
.p-Home.Div88 {
;
}
.p-Home.Flex49 {
display: inline-flex;
justify-content: center;
row-gap: ;
column-gap: 50px;
align-content: flex-end;
align-items: center;
margin-top: 40px;
margin-left: 40px;
width: 100%;
}
.p-Home.Div97 {
width: ;
height: ;
background-color: #fff9f3ff;
margin-right: ;
}
.p-Home.Div96 {
background-color: #FFF9F3ff;
border-radius: ;
border-width: 0px;
padding-bottom: ;
padding-right: ;
padding-top: ;
margin-left: 30px;
padding-left: ;
margin-top: 50px;
margin-right: 30px;
margin-bottom: ;
border-style: none;
height: ;
}
.p-Home.Flex53 {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 15px;
margin-bottom: 15px;
padding-bottom: 10px;
padding-top: 10px;
margin-right: 20px;
margin-left: 20px;
}
.p-Home.Flex54 {
display: flex;
align-items: center;
justify-content: space-between;
}
.p-Home.Div98 {
padding-top: 0px;
padding-right: 0px;
padding-bottom: ;
padding-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 5px;
border-color: #ec089e;
border-width: 3px;
border-style: none;
outline-color: #da1e1e;
background-color: transparent;
width: 50%;
}
.p-Home.Div101 {
;
}
.p-Home.Div107 {
padding-left: 20px;
margin-top: 0px;
margin-bottom: 20px;
border-color: #fffefeff;
background-color: #ffffffff;
padding-bottom: 60px;
padding-top: 60px;
}
.p-Home.Flex57 {
display: flex;
flex-direction: column;
width: 50%;
border-style: dashed;
border-width: 5px;
margin-top: ;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 40px;
background-color: ;
border-color: transparent;
}
.p-Home.Flex58 {
display: flex;
justify-content: space-around;
row-gap: 20px;
column-gap: 20px;
}
.p-Home.Div112 {
padding-left: 10px;
margin-left: 10px;
width: 49%;
}
.p-Home.Div118 {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 100px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 5px;
border-color: #ec089e;
border-width: 3px;
border-style: none;
outline-color: #da1e1e;
background-color: transparent;
width: 100%;
}
.p-Home.Div117 {
;
}
.p-Home.Div116 {
padding-left: 20px;
margin-top: 0px;
margin-bottom: 20px;
border-color: #641717;
background-color: #ffffffff;
padding-bottom: 10px;
padding-top: 10px;
}
.p-Home.Div111 {
width: 49%;
display: block;
}
.p-Home.Div115 {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 100px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 5px;
border-color: #ec089e;
border-width: 3px;
border-style: none;
outline-color: #da1e1e;
background-color: transparent;
width: 100%;
}
.p-Home.Div114 {
;
}
.p-Home.Div113 {
padding-left: 20px;
margin-top: 0px;
margin-bottom: 20px;
border-color: #fffefeff;
background-color: #ffffffff;
padding-bottom: 10px;
padding-top: 10px;
}
.p-Home.Flex59 {
display: flex;
row-gap: 20px;
column-gap: 20px;
justify-content: space-between;
}
.p-Home.Div156 {
width: 300px;
}
.p-Home.Div160 {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 100px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 5px;
border-color: #ec089e;
border-width: 3px;
border-style: none;
outline-color: #da1e1e;
background-color: transparent;
width: 100%;
}
.p-Home.Div159 {
;
}
.p-Home.Div158 {
padding-left: 20px;
margin-top: 0px;
margin-bottom: 20px;
border-color: #ffffff;
background-color: #ffffffff;
padding-bottom: 10px;
padding-top: 10px;
}
.p-Home.Div157 {
width: 50%;
}
.p-Home.Div166 {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 100px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 5px;
border-color: #ec089e;
border-width: 3px;
border-style: none;
outline-color: #da1e1e;
background-color: transparent;
width: 100%;
}
.p-Home.Div165 {
;
}
.p-Home.Div164 {
padding-left: 20px;
margin-top: 0px;
margin-bottom: 20px;
border-color: #ffffff;
background-color: #ffffffff;
padding-bottom: 10px;
padding-top: 10px;
}
.p-Home.Flex67 {
display: flex;
}
.p-Home.Flex68 {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 15px;
margin-bottom: 15px;
padding-bottom: 10px;
padding-top: 10px;
margin-right: 20px;
margin-left: 20px;
width: 100%;
}
.p-Home.Flex69 {
display: flex;
align-items: stretch;
justify-content: space-between;
width: ;
align-self: center;
align-content: space-between;
outline-style: ;
text-align: center;
background-attachment: local;
background-clip: content-box;
-webkit-background-clip: content-box;
flex-wrap: wrap-reverse;
margin-left: 60px;
margin-right: 60px;
border-width: 4px;
border-style: solid;
row-gap: 0%;
column-gap: 0%;
margin-top: 10px;
margin-bottom: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-Home.Div173 {
width: 40%;
}
.p-Home.Flex72 {
display: flex;
justify-content: flex-start;
}
.p-Home.Div174 {
width: 40%;
}
.p-Home.Flex73 {
display: flex;
justify-content: space-around;
padding-bottom: 10px;
margin-bottom: 10px;
}
.p-Home.Flex74 {
display: flex;
justify-content: space-around;
padding-top: 10px;
margin-top: 10px;
}
.p-Home.TextBox10 {
margin-top: 100px;
margin-bottom: 100px;
margin-left: ;
padding-top: 10px;
padding-bottom: 15px;
align-self: flex-end;
text-align: center;
font-size: 25px;
}
.p-Home.Div170 {
width: 80%;
display: block;
text-align: left;
align-self: center;
margin-left: 5px;
}
.p-Home.Image21 {
;
}
.p-Home.TextBox38 {
margin-top: 50px;
margin-bottom: 50px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox39 {
color: #676767ff;
line-height: 20px;
}
.p-Home.Button17 {
color: #FF7629ff;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
outline-color: transparent;
margin-top: 40px;
}
.p-Home.Image22 {
;
}
.p-Home.TextBox40 {
margin-top: 50px;
margin-bottom: 50px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox41 {
color: #676767ff;
line-height: 20px;
}
.p-Home.Button18 {
color: #FF7629ff;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
outline-color: transparent;
margin-top: 40px;
}
.p-Home.Image23 {
;
}
.p-Home.TextBox42 {
margin-top: 50px;
margin-bottom: 50px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox43 {
color: #676767ff;
line-height: 20px;
}
.p-Home.Button19 {
color: #FF7629ff;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
outline-color: transparent;
margin-top: 40px;
}
.p-Home.Image26 {
;
}
.p-Home.TextBox48 {
margin-top: 50px;
margin-bottom: 50px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.TextBox49 {
color: #676767ff;
line-height: 20px;
}
.p-Home.Button22 {
color: #FF7629ff;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
outline-color: transparent;
margin-top: 40px;
}
.p-Home.Button23 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 18px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.Button24 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.Button2 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
padding-right: 15px;
font-size: 18px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.Image1 {
;
}
.p-Home.Breadcrumb2 {
align-self: flex-start;
width: 400px;
box-sizing: content-box;
height: 100%;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
margin-left: 20px;
font-size: 20px;
}
.p-Home.Button1 {
color: #fff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 18px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ffff;
cursor: pointer;
user-select: none;
margin-left: 25px;
}
.p-Home.TextBox6 {
outline-color: #00ff69;
color: #FF7629ff;
font-size: 70px;
}
.p-Home.TextBox7 {
font-size: 70px;
}
.p-Home.TextBox8 {
line-height: 22px;
color: #757575;
margin-top: 50px;
}
.p-Home.Button3 {
color: #ffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ffff;
cursor: pointer;
user-select: none;
word-wrap: break-word;
}
.p-Home.Button4 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
margin-top: ;
}
.p-Home.Image4 {
width: 500px;
margin-right: 60px;
margin-top: 40px;
position: static;
height: 100%;
margin-bottom: 40px;
border-radius: 40px;
}
.p-Home.Div40 {
background-color: #FF7629ff;
position: absolute;
top: 0;
right: 0;
height: 100%;
width: 70%;
z-index: -1;
outline-color: transparent;
border-color: transparent;
}
.p-Home.TextBox9 {
align-self: center;
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
padding-right: ;
color: ;
font-size: 26px;
word-wrap: inherit;
}
.p-Home.Image5 {
;
}
.p-Home.Image6 {
;
}
.p-Home.Image7 {
;
}
.p-Home.Image8 {
;
}
.p-Home.Image27 {
width: 500px;
border-radius: 40px;
margin-left: ;
}
.p-Home.TextBox53 {
margin-left: ;
margin-top: ;
margin-right: 40px;
margin-bottom: 20px;
padding-top: 0px;
padding-right: 25px;
padding-bottom: 15px;
padding-left: ;
font-size: 26px;
}
.p-Home.Image28 {
;
}
.p-Home.TextBox54 {
width: 175px;
color: #8d8d8d;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Image32 {
;
}
.p-Home.Link2 {
color: #8d8d8dff;
}
.p-Home.TextBox57 {
width: 175px;
color: #8d8d8d;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Image31 {
;
}
.p-Home.TextBox51 {
color: #000000ff;
font-size: 32px;
padding-bottom: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox52 {
;
}
.p-Home.TextBox59 {
width: 80%;
color: #8d8d8dff;
margin-bottom: 40px;
padding-bottom: 20px;
font-size: 16px;
}
.p-Home.TextBox62 {
width: 80%;
color: #8d8d8dff;
margin-bottom: 40px;
padding-bottom: 20px;
border-width: 16px;
font-size: 16px;
}
.p-Home.Button25 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
margin-top: ;
}
.p-Home.Button26 {
color: #ffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ffff;
cursor: pointer;
user-select: none;
word-wrap: break-word;
}
.p-Home.TextBox67 {
align-self: center;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 50px;
margin-bottom: 30px;
font-size: 26px;
}
.p-Home.TextBox68 {
color: #8d8d8dff;
text-align: center;
padding-right: 0px;
padding-left: 0px;
padding-top: 20px;
padding-bottom: 20px;
width: 50%;
margin-left: ;
margin-right: ;
float: none;
}
.p-Home.Image35 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox71 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.TextBox72 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.TextBox73 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox74 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox76 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.Image36 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox99 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.TextBox77 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox79 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.Image37 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox100 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.TextBox80 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox82 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.Image38 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox101 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.Image40 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox86 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.TextBox88 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox105 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.Image41 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox89 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.TextBox91 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox104 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.Image42 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox92 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.TextBox94 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox103 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.TextBox95 {
background-color: #ffffff;
position: absolute;
right: 5px;
top: 5px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
border-radius: 20px;
}
.p-Home.TextBox97 {
font-size: 24px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.p-Home.Image43 {
width: 250px;
height: 250px;
border-width: ;
border-radius: 25px;
}
.p-Home.TextBox102 {
width: 100%;
text-align: center;
color: #8d8d8dff;
}
.p-Home.Button27 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.Button28 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 18px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.Image45 {
width: 100%;
margin-right: ;
color: #faf8f8;
font-size: 38px;
height: 650px;
}
.p-Home.TextBox109 {
width: 80%;
color: #eaeaeaff;
margin-bottom: 40px;
padding-bottom: 20px;
border-width: 16px;
font-size: 16px;
text-align: left;
margin-left: 40px;
margin-right: ;
}
.p-Home.TextBox108 {
color: #ffffff;
font-size: 38px;
text-align: left;
padding-bottom: 10px;
margin-bottom: 10px;
border-color: transparent;
border-style: solid;
border-width: 44px;
align-self: center;
margin-top: 100px;
margin-right: 70px;
}
.p-Home.Button29 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
margin-top: ;
}
.p-Home.Button30 {
color: #ffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #fcfcfcff;
cursor: pointer;
user-select: none;
word-wrap: break-word;
}
.p-Home.TextBox110 {
color: #8d8d8dff;
text-align: center;
padding-right: 0px;
padding-left: 0px;
padding-top: 20px;
padding-bottom: 20px;
width: 100%;
margin-left: ;
margin-right: ;
float: none;
}
.p-Home.TextBox111 {
align-self: center;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 50px;
margin-bottom: 30px;
font-size: 32px;
}
.p-Home.Image46 {
background-color: #ff7629;
padding-top: ;
margin-bottom: ;
border-width: 6px;
border-style: solid;
color: transparent;
width: 60px;
height: 60px;
border-radius: 50%;
cursor: pointer;
}
.p-Home.TextBox112 {
font-size: 24px;
}
.p-Home.TextBox113 {
width: 100%;
color: #8d8d8dff;
margin-bottom: 40px;
padding-bottom: 20px;
border-width: 16px;
font-size: 16px;
}
.p-Home.Image49 {
width: 30px;
height: 30px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.p-Home.Image55 {
width: 30px;
height: 30px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.p-Home.Image56 {
width: 30px;
height: 30px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.p-Home.Image57 {
width: 30px;
height: 30px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.p-Home.Image58 {
width: 30px;
height: 30px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.p-Home.Image59 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox114 {
;
}
.p-Home.TextBox115 {
margin-top: 10px;
color: #595858ff;
}
.p-Home.Image48 {
background-color: #ff7629;
padding-top: ;
margin-bottom: ;
border-width: 6px;
border-style: solid;
color: transparent;
width: 60px;
height: 60px;
border-radius: 50%;
cursor: pointer;
}
.p-Home.Button31 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
margin-top: ;
}
.p-Home.Button32 {
color: #ffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ffff;
cursor: pointer;
user-select: none;
word-wrap: break-word;
}
.p-Home.TextBox116 {
font-size: 32px;
}
.p-Home.Button36 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 18px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.Image62 {
width: 100%;
height: 530px;
border-radius: 0px;
background-color: transparent;
border-top-left-radius: 50px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: ;
}
.p-Home.TextBox118 {
color: #737373ff;
}
.p-Home.TextBox119 {
color: #737373ff;
}
.p-Home.TextBox120 {
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
font-size: 28px;
}
.p-Home.Image66 {
width: 100%;
height: 240px;
border-radius: 0px;
background-color: transparent;
border-top-left-radius: 50px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: ;
}
.p-Home.TextBox130 {
color: #737373ff;
}
.p-Home.TextBox131 {
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
font-size: 16px;
}
.p-Home.Image65 {
width: 100%;
height: 240px;
border-radius: 0px;
background-color: transparent;
border-top-left-radius: 50px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: ;
}
.p-Home.TextBox127 {
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
font-size: 16px;
}
.p-Home.TextBox128 {
color: #737373ff;
}
.p-Home.Image76 {
width: 100%;
height: 240px;
border-radius: 0px;
background-color: transparent;
border-top-left-radius: 50px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: ;
}
.p-Home.TextBox150 {
color: #737373ff;
}
.p-Home.TextBox151 {
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
font-size: 16px;
}
.p-Home.Image78 {
width: 100%;
height: 240px;
border-radius: 0px;
background-color: transparent;
border-top-left-radius: 50px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: ;
}
.p-Home.TextBox154 {
color: #737373ff;
}
.p-Home.TextBox155 {
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
font-size: 16px;
}
.p-Home.Button38 {
color: #fffdfdff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 18px;
border-radius: 300px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
box-sizing: content-box;
word-wrap: normal;
}
.p-Home.TextBox157 {
font-size: 32px;
}
.p-Home.Image81 {
width: 300px;
height: 300px;
margin-top: ;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
border-radius: 40px;
}
.p-Home.Image82 {
width: 300px;
height: 300px;
padding-bottom: 10px;
padding-left: 10px;
border-radius: 40px;
margin-top: ;
margin-right: ;
margin-bottom: ;
margin-left: ;
padding-top: 10px;
padding-right: 10px;
}
.p-Home.Image83 {
width: 145px;
height: 145px;
border-radius: 40px;
}
.p-Home.Image90 {
width: 145px;
height: 145px;
border-radius: 40px;
}
.p-Home.Image91 {
width: 145px;
height: 145px;
border-radius: 40px;
}
.p-Home.Image92 {
width: 145px;
height: 145px;
border-radius: 40px;
}
